@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(31 41 55 / 1);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

h1 {
    @apply text-4xl md:text-5xl tracking-[10%] font-bold;
}
h2 {
    @apply text-3xl font-bold md:text-4xl leading-[46px];
}
h3 {
    @apply text-2xl font-bold;
}
h4 {
    @apply text-xl font-bold;
}

a {
    @apply hover:text-blue-400
}
.h1 {
    @apply text-4xl tracking-[10%] font-bold;
}
.h2 {
    @apply font-bold text-3xl leading-[46px];
}
.h3 {
    @apply text-2xl font-bold;
}
.h4 {
    @apply text-xl font-bold;
}

